@using AlrInvestSupply.AppCode.Globalization
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:300,400,700&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/Public/css/menu.css">
    <script src="https://kit.fontawesome.com/e427ab7fe7.js" crossorigin="anonymous"></script>
    <title>@ViewBag.Title</title>
    @RenderSection("style", required: false)

    <script>
        function SetLang(lang) {
            var win = window.location.href;
            var en = win.search("en");
            var az = win.search("az");
            if (en == -1 && az == -1) {
                var str = window.location.href;
                var res = str.split("/");
                res[4] = lang;
                var url = res.join("/");
                window.location.href = url;
            }
            else {
            var chref = window.location.href.replace(/(az|en)/g, lang)
            window.location.href = chref;
            }
          
        }
    </script>
</head>

<body>
    <style>
        .active {
            border-color: #00aeef !important;
            color: #00aeef !important;
        }
    </style>
    <header>
        <!-- menu for mobile  -->

        <div class="menuMobile">
            <button class="closeMenu"><i class="fas fa-times"></i></button>
            <nav>
                <ul>
                    <li><a href="@Url.Action("Index","Home")">@RLang.Home</a></li>
                    <li><a href="@Url.Action("Index","About")">@RLang.About</a></li>
                    <li><a href="@Url.Action("Index","Service")">@RLang.Services</a></li>
                    <li><a href="@Url.Action("Index","Client")">@RLang.Clients</a></li>
                    <li><a href="@Url.Action("Index","Contact")">@RLang.Contact</a></li>
                </ul>
            </nav>
        </div>

        <div class="lang">

            <ul>
                <li onclick="SetLang('az')"><a href="#">AZ</a></li>
                <li onclick="SetLang('en')"><a href="#">EN</a></li>
            </ul>
        </div>
        <hr>

        <div class="first">

            <div class="head">
                <div class="container">
                    <div class="logo">
                        <a href="#"><img src="~/Public/img/Screenshot (54).png" alt="alr invest logo"></a>
                    </div>
                    <!-- nav for desktop -->
                    <nav>
                        <ul>
                            <li><a href="@Url.Action("Index","Home")">@RLang.Home</a></li>
                            <li><a href="@Url.Action("Index","About")">@RLang.About</a></li>
                            <li><a href="@Url.Action("Index","Service")">@RLang.Services</a></li>
                            <li><a href="@Url.Action("Index","Client")">@RLang.Clients</a></li>
                            <li><a href="@Url.Action("Index","Contact")">@RLang.Contact</a></li>
                        </ul>
                    </nav>
                    <button class="openMenu"> <i class="fas fa-bars"></i></button>
                    <!--button for mobile nav-->
                    <!-- ///////////////////////// -->
                </div>
                <div class="pageName">
                    <h1> @ViewBag.Title</h1>
                </div>
            </div>

        </div>

    </header>

    @RenderBody()
    <!-- footer -->
    <footer>
        @Html.Action("Footer", "Home")

    </footer>

    <!-- js tags -->

    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    <script src="~/Public/js/menu.js"></script>
    <script>
        $(function () {
            var current = location.pathname;
            $('nav li a').each(function () {
                var $this = $(this);
                // if the current path is like this link, make it active
                if ($this.attr('href').indexOf(current) !== -1) {
                    $this.addClass('active');
                }
            })
        })
    </script>
    @RenderSection("script", required: false)

</body>
</html>