@model AlrInvestSupply.Models.Entity.Services

@{
    ViewBag.Title = "Sil - Xidmət";
    Layout = "~/Areas/Control/Views/Shared/_LayoutControl.cshtml";
}



<h3>Seçdiyiniz elementi silmək istədiyinizə əminsiz ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Dil
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Language.Name)
        </dd>

        <dt>
          Adı
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Haqqında
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
           Şəkil
        </dt>

        <dd>
            <img width="100" src="@(string.IsNullOrWhiteSpace(Model.MediaUrl)?"":Href("~/media/"+Model.MediaUrl))" />
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-danger" /> |
            @Html.ActionLink("Əvvəlki səhifəyə qayıt", "Index")
        </div>
    }
</div>
